<div class="survey-container">
  <div formulaire>
    <h2><ins> Formulaire d'inscription </ins></h2>
  </div>

      <p> Une seule réponse par question </p>

  <fieldset>
    <legend>A la plage ce que j'aime c'est:</legend>

    <div>
      <input type="radio" id="A1" value= "Entendre le chant des vagues" checked>
      <label for="A">A: Entendre le chant des vagues</label>
    </div>

    <div>
      <input type="radio" id="B1" value="Ressentir le soleil sur ma peau">
      <label for="B">B: Ressentir le soleil sur ma peau</label>
    </div>

    <div>
      <input type="radio" id="C1" value="Regarder la mer et les détails autour de moi">
      <label for="C1"> Regarder la mer et les détails autour de moi </label>
    </div>
</fieldset>


 <fieldset>
    <legend>Pour résoudre un conflit:</legend>

    <div>
      <input type="radio" id="A2" value= "J'y vais par étape, je réfléchis" checked>
      <label for="A2">A: J'y vais par étape, je réfléchis</label>
    </div>

    <div>
      <input type="radio" id="B2" value="Je réconforte la personne">
      <label for="B2">B: J'improvise une solution</label>
    </div>

    <div>
      <input type="radio" id="C2" value="J'improvise une solution">
      <label for="C2"> J'improvise une solution </label>
    </div>
</fieldset>

<fieldset>
    <legend>Quand t'es en colère tu es team :</legend>

    <div>
      <input type="radio" id="A3" value= "Je crie et je discute après " checked>
      <label for="A3">A: Je crie et je discute après</label>
    </div>

    <div>
      <input type="radio" id="B3" value="Tel un volcan j'explose">
      <label for="B3">B: Tel un volcan j'explose</label>
    </div>

    <div>
      <input type="radio" id="C3" value="Baston de regards noirs">
      <label for="C3"> Baston de regards noirs </label>
    </div>
</fieldset>







</div>
