// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Colors
$color-one: #1E1E1E;
$color-two: #353535;
$color-logo: #FEC3A7;
$color-job: #D9D9D9;
$color-text: #B2B2B2;
