// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Frank+Ruhl+Libre&family=IBM+Plex+Serif&display=swap');

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

$title-card: "Bree Serif", serif;
$title-job: "Frank Ruhl Libre regular 400", serif;
$font-text: "IBM Plex Serif", serif;
// $font-sign-in: 'Poor Story', cursive;
