.titlelog {
  h2 {
    font-family: $title-card;
    color: #FEC3A7;
  }
  margin-top: 50px;
}

.form-control {
  margin-top: 100px;
  // border: 3px;
  border-bottom: 1.5px solid $color-logo !important;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  // color: $color-text;
  margin-top: 15px;
  margin-bottom: 15px;

  input {
    width: 250px;
  }
}

#user_email:focus {
  outline: none !important;
  border-bottom: 2px solid #FEC3A7 !important;
  box-shadow: none;
  border: none;
  color: $color-text;
}

#user_password:focus {
  outline: none !important;
  border-bottom: 2px solid #FEC3A7 !important;
  box-shadow: none;
  border: none;
  color: $color-text;
}


.form-label {
  color: $color-job;
}

#user-email {
  color: $color-text;
}

#user_password {
  color: $color-text;
}

#user_email {
  color: $color-text;
}

.formlog {
  padding: 50px;
  margin-top: 60px;
}

.inputpassword {
  margin-top: 50px;
}

#user_remember_me {
  border: 1px solid #FEC3A7;
  background-color: $color-one;
}

.form-check-label {
  color: $color-text;
}

.form-actions {
  background-color: #FEC3A7;
  border-radius: 20px;
  width: 120px;
  margin-left: 135px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;


}

.begin {
  a {
    text-align: center;
    display: flex;
    justify-content: center;
    color: $color-text;
    margin-top: 50px;
  }
}

.forgot {
  a {
    text-align: center;
    display: flex;
    justify-content: center;
    color: $color-text;
  }
}
