.survey-container{
  padding-top: 0px !important;
  padding-inline: 30px;

  h2{
    font-size: 38px;
    text-align: center;
    font-family: $title-card;
    color: $color-job;
    margin-bottom: 20px;
  }
}



.form-title {

  // H2 {
  //   color: #FEC3A7;
  //   font-family: 'Bree Serif', 'Serif';
  //   display: flex;
  //   justify-content: center;
  // }

  p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: $color-job;
  }
}

.survey {
  display: flex;
}

// .answers {
//   display: flex;
//   justify-content: center;
//   color:  $color-job;
// }

// .choiceone {
//   border: 1px solid #FEC3A7;
// }

.questions {
  color: white;
}

.form-check-input{
  background-color: white;
}

.form-check-input:checked{
  background-color:#b3208e;
  border-color: #FEC3A7;
}

.col-form-label {
  font-size: 20px;
  font-family: $title-job;
  color: #FEC3A7;
}

.btn{
  margin-top:30px;
  margin-left: 120px;
  color: black;
}
