.container {

  p{
    margin-inline: 10px ;
    font-family: $font-text;
    color: $color-job;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
  }

  h2{
    color: $color-job;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: $font-text;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }

}
.search-bar{

  // display: flex;
  // background-color: transparent;
  input{
    color: $color-job;
    font-family: $font-text;
    font-size: 400;
  }
}

.search{
  // border: 3px;
  border-bottom-color: $color-logo;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  // color: $color-text;
  margin-top: 15px;
  margin-bottom: 15px;

}

.search-btn {
  margin-top: 40px;
}

#query {
  color: $color-job;
}

.btn-ghost {

  background-color: $color-logo;
  // border: 2px solid #000000;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 400;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: $title-job;
}

.btn-ghost:hover {
  opacity: 0.5;
  color: $color-logo;
}

.search-form{
  // background-color: transparent;
  margin-inline: 4rem;

  input {
    width: 100%;
  }
}

input:focus{
  outline: none !important;
  border-bottom: 2px solid #FEC3A7;
}

.container-cercles{
  display: flex;
  justify-content: center;
  }

.cercle{
  background-color: $color-logo;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1.5px solid $color-logo !important;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  font-family: $font-text;
  color: $color-text;
  font-size: large;
  -webkit-text-fill-color: $color-text;
  transition: background-color 5000s ease-in-out 0s;
}
