.container {

  p{
    margin-inline: 10px ;
    font-family: $font-text;
    color: $color-job;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
  }

  h2{
    color: $color-job;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: $font-text;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }

}
.search-bar{

  // display: flex;
  // background-color: transparent;
  input{
    color: black;
    font-family: $font-text;
    font-size: 15px;
  }
}

.search{
  // border: 3px;
  border-bottom-color: $color-logo;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  // color: $color-text;
  margin-top: 15px;
  margin-bottom: 15px;

}

.search-btn {
  margin-top: 40px;
}

.btn-ghost {

  background-color: $color-logo;
  border: 2px solid #000000;
  padding: 8px 24px;
  border-radius: 50px;
  // font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.5;
  color: $color-logo;
}

.search-form{
  // background-color: transparent;
  margin-inline: 4rem;

  input {
    width: 100%;
  }
}

.container-cercles{
  display: flex;
  justify-content: center;
  }

.cercle{
  background-color: $color-logo;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
