.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.position{
  // display: flex;
  // justify-content: right;
  // align-items: right;
  // position: relative;
  // top: 40px;
  // right: 40px;
  margin-top: -10px;
  margin-left: 50px;
  color: $color-three;
  font-size: 25px;
  // width: 35px;
}
