.container-job{
  padding: 30px;
  color: white;
  font-family: $font-text;
  text-indent: 30px;
}
.title-rubrique{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  margin-right: 60px;
  h3{
    color: $color-logo;
    font-family: $title-card;
    font-size: 40px;
  }
}

.container-btn-job{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-job{
  text-align: center;
  width: 250px;
  height: 55px;
  margin: 20px;
  border-radius: 8px;
  color: black;
  background-color: #FEC3A7;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inner-link-sono a{
  color : $color-logo;
 }

 .inner-link-sono a:hover{
  color : white;
 }
