.avatar-small {
  width: 165px;
  height: 155px;
  left: 123px;
  top: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.title-informations {
margin-top: 20px;
color: #B2B2B2;
}

.informations {
  h3 {
    color: #FEC3A7;
    font-family: 'Bree Serif', 'Serif';
  }

  p {
    color: #B2B2B2;
  }
}

.profil {
  h3{
    margin-top: 15px;
    margin-bottom: 25px ;
    color: #FEC3A7;
    font-family: 'Bree serif', 'Serif';
  }
}

.body-profile {
  background-color: #202020;
  height: 100vh;
  max-width : 370px;
  margin : 0 auto;
}

.picture_name {
  margin-top: 150px;
}

.themes {
  width: 350px;
  height: 130px;
  margin-top: 20px;
  margin-left: 10px;
  background: #242424;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.complete-name {
  margin-top: 20px;
  h3 {
    color: #B2B2B2;
    font-family: 'Bree Serif', 'serif';
  }
}

.text-themes {
  text-align: center;
  box-shadow: 0 0 20px rgba(167, 167, 167, 0.4);
  border-radius: 15px;
  width: 240px;
  height:100px;
  margin: 20px auto;

  p {
    margin: 10px;
    padding: 10px;
    color: #B2B2B2;
  }
}

.hr-color {
  border-bottom: 1px solid #FEC3A7;
  display: block;
  margin-bottom: 10px;
  width: 350px;
  margin-left: 20px;
}

.title-favorite {
  color: #B2B2B2;
}

.location-wrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  p {
    margin: 0px;
    margin-top: 5px;
  }

  h3 {
    margin: 0px;
  }
}

.logout{
  text-align: right;
}

.text-theme-result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-15px;
}

.text-themes h4{
    color: #FEC3A7;
    letter-spacing: 1px;
    margin-top : 5px;
    padding-left: 10px;
  }

  .text-themes-no-profile{
    text-align: center;
    box-shadow: 0 0 20px rgba(167, 167, 167, 0.4);
    border-radius: 15px;
    width: 200px;
    height:70px;
    margin: 20px auto;

    p {
      margin: 10px;
      padding: 10px;
      color: #B2B2B2;
    }
  }
