.show-container{
  width : 330px;
  min-height : 600px;
  margin: 0 auto;
  background-color :$color-two;
  font-family: $title-card;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
}

.show-back-to-index{
  float:right;
  padding:10px;
}


.show-photo{
  margin: 30px 0 30px 60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.show-text h2{
  margin: 0 auto;
  font-family: "Bree Serif", serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.show-text ul{
  padding: 0 30px 60px 30px;
  color:$color-job;
}

.show-text li{
  list-style-type: none;
  text-align: left;
  padding:20px 0;
}

.show-text img{
  font-size: 20px;
  margin:0;
  width:10%;
}

.show-tag{
  text-align:left;
  float:right;
  width : 80%;
  font-family: "Bree Serif", serif;
  font-size: 15px;
}

.show-tag-job{
  text-align:center;
  width:170px;
  height:32px;
  margin:0 auto;
  border-radius: 8px;
  background-color: $color-logo;
  font-size: 20px;
}

#show-tag-price{
  color:$color-job;
  font-family: $font-text;
  font-style: italic;
  padding: 0;
  text-align:right;
}

.show-tag-job a{
  display:block;
  text-decoration:none;
  color:#353535;
}

.pratician_description{
  font-size: 14px;
  color:white;
  padding: 30px 30px 0 30px;
  font-style: italic;
  margin:0;
}
