.show-container{
  width : 330px;
  height : 600px;
  margin: auto 30px;
  color : #B2B2B2;
  font-family: $title-card;
  text-align: center;
  border:1px solid #303030;
}

.show-photo{
  margin: 30px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.show-text h2{
  margin: 0 auto;
  font-family: "Bree Serif", serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.show-text ul{
  padding: 30px;
}

.show-text li{
  list-style-type: none;
  text-align: left;
  padding:20px 0;
}

.show-text img{
  font-size: 20px;
  margin:0;
  width:10%;
}

.show-tag{
  text-align:right;
  width:90%;
  float:right;
  font-family: "Bree Serif", serif;
  font-size: 15px;
}

.show-tag-job{
  text-align:center;
  width:170px;
  height:32px;
  margin:0 auto;
  border-radius: 8px;
  background-color: $color-logo;
  font-size: 20px;
  color:#353535;
}
