.show-container{
  width : 330px;
  min-height : 600px;
  margin: 0 auto;
  background-color :$color-two;
  font-family: $title-card;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
}

.show-back-to-index{
  float:left;
  padding:15px;
}

.show-heart{
  float:right;
  padding:15px;
}

.heart{
  background:$color-two;
  border: none;
  }

.container-photo{
  display: flex;
  justify-content: center;
  }

  .show-photo{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.show-tag{
  text-align:left;
  float:right;
  width : 80%;
  font-family: "Bree Serif", serif;
  font-size: 15px;
}

.show-text h2{
  margin: 0 auto;
  font-family: "Bree Serif", serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.show-text ul{
  padding: 0 30px 60px 30px;
  color:$color-job;
}

.show-text li{
  list-style-type: none;
  text-align: left;
  padding:20px 0;
}

.show-text img{
  font-size: 20px;
  margin:0;
  width:10%;
}

.show-tag-job{
  text-decoration: underline;
}

.show-tag-job a{
  font-family: "Bree Serif", serif;
  text-decoration:none;
  color: $color-logo;
  font-size: 23px;
}

#show-tag-price{
  color:$color-job;
  font-family: $font-text;
  font-style: italic;
  padding: 0;
  text-align:right;
}

.pratician_description{
  font-size: 14px;
  color:white;
  padding: 15px 30px 0px 30px;
  font-style: italic;
}
