<div class="title-rubrique">
  <h3>Art Thérapie</h3>
</div>
<div class="container-job">
  <p>L'art-thérapie est une forme de psychothérapie qui utilise la création artistique (dessin, peinture, collage, sculpture, etc.) pour prendre contact avec sa vie intérieure (sentiments, rêves, inconscient, etc.), l'exprimer et se transformer. Cette pratique est très répandue dans les secteurs de la santé.</p>
  <p>On l'utilise comme mode d'intervention en psychothérapie, particulièrement chez les sujets ayant de la difficulté à exprimer ce qu'ils ressentent par la parole, avec les enfants en bas âge ainsi qu'en physiothérapie pour développer une meilleure confiance en soi et favoriser la réadaptation.</p>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query:"arttherapie"), class:"find-job" %>
  <%= link_to "Retour", "thematique1", class:"return" %>
</div>
