<div class="title-rubrique">
  <a class="return" href="javascript:history.back()">
    <%= image_tag "svg/just_arrow.svg" %>
  </a>
  <h3>Chiropratique</h3>
</div>
<div class="container-job">
  <p>La chiropratique, aussi appelée chiropractie ou chiropraxie, est une pratique de médecine non conventionnelle, inventée par Daniel David Palmer en 1895.</p>
  <p>Elle est présentée par ses adeptes comme une médecine manuelle thérapeutique qui vise à la prévention, au diagnostic, au traitement des troubles de l’appareil locomoteur et de leurs effets néfastes sur la santé.</p>
  <p>La philosophie de cette profession est d'éliminer toute interférence limitant la communication du système nerveux afin d'exploiter le plein potentiel de santé du </p>
  <p>La thérapie chiropratique est très diversifiée en France comme ailleurs, offrant des traitements différents en fonction de la nature du trouble qu'il soit neuro-musculo-squelettique ou émotionnel.</p>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "chiropratique"), class:"find-job" %>
</div>
