<div class="title-rubrique">
  <a class="return" href="javascript:history.back()">
    <%= image_tag "svg/just_arrow.svg" %>
  </a>
  <h3>Emdr</h3>
</div>
<div class="container-job">
  <p>Les initiales EMDR signifient Eye Movement Desensitization and Reprocessing c'est-à-dire désensibilisation et retraitement par les mouvements oculaires.</p>
  <p>L'EMDR est une psychothérapie qui permet de résoudre les conséquences psychologiques, physiques, relationnelles, d'expériences de vie traumatisantes, perturbantes.</p>
  <p>C’est un processus de libre association des idées, sensations, émotions, pensées, qui se déroule alors, comme lorsque nous rêvons la nuit.
Entre chaque série de stimulations, le patient dit ce qui lui vient spontanément à l’esprit.</p>
  <p>Le praticien continue les séries de stimulations jusqu’à ce que le souvenir ne génère plus de perturbation chez le patient.</p>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "emdr"), class:"find-job" %>
</div>
