<div class="container">
  <div>
    <h1>Izen</h1>
  </div>
  <div>
    <p>Trouve ton praticien !</p>
    <select name="cities" id="city-select">
      <option value="">--Your City--</option>
      <%# <option value="Toulouse">Toulouse</option>
      <option value="La Rochelle">La Rochelle</option>
      <option value="Reims">Reims</option>
      <option value="Bordeaux">Bordeaux</option>
      <option value="Paris">Paris</option>
      <option value="Rennes">Rennes</option> %>
      <option value="Nantes">Nantes</option>
    </select>
  </div>
  <ul>
    <li><%= link_to  %></li> <!-- insérer liens vers thématiques-->
    <li><%= link_to  %></li>
    <li><%= link_to  %></li>
  </ul>
</div>
