<div class="title-rubrique">
  <%= link_to "/thematique1" do %>
  <%= image_tag "svg/just_arrow.svg" %>
  <% end %>

  <h3>Hypnose</h3>
</div>
<div class="container-job">
  <p>En français, le terme hypnose désigne à la fois des états modifiés de conscience, les pratiques thérapeutiques utilisées pendant cet état, et les techniques permettant de créer cet état.</p>
  <p>Lorsqu’un individu est dans un état d’hypnose, ses perceptions sont modifiées par rapport à son état ordinaire. Les caractéristiques de ces états sont variés, notamment : perte des repères spatio-temporels, hallucinations, analgésies, anesthésies, etc. L'expérience hypnotique d'une personne dépend de sa personnalité, du contexte, de la méthode employée, des suggestions qui lui sont faites, de la profondeur de l'induction hypnotique, et d'autres paramètres.</p>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "hypnose"), class:"find-job" %>
</div>
