<div class="title-rubrique">
  <h3>Naturopathie</h3>
</div>
<div class="container-job">
  <p>La Naturopathie vise à maintenir ou restaurer un état de santé et de bien-être optimaux principalement par l'alimentation et l'hygiène de vie, et également par d'autres moyens naturels. Elle s'adresse à tous et à tous les âges.</p>
  <p>Dans l'approche naturopathique, l'individu est considéré de façon globale, c'est-à-dire en intégrant toutes ses dimensions : physique, émotionnelle, ... et en interaction constante avec son environnement.</p>
  <p>Il s'agit mettre en oeuvre des actions visant à redonner à l'organisme sa capacité à mobiliser au mieux ses fonctions naturelles.</p>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "naturopathie"), class:"find-job" %>
  <%= link_to "Retour", "thematique1", class:"return" %>
</div>
