<div class="title-rubrique">
<h3>Ostéopathie</h3>
</div>
<div class="container-job">
<div style="text-job">
  <p>Fondée en 1874 par le médecin américain Andrew Taylor Still, l'ostéopathie est fondée sur des techniques manuelles visant à « la conservation ou la restauration de la mobilité physiologique des différentes structures de l'organisme ».</p>
  <p>Elle se base sur l'idée selon laquelle toute altération de la mobilité naturelle des organes les uns par rapport aux autres, apparaissant au niveau des muscles, des tendons, des viscères, du crâne ou des enveloppes (fasciae), induirait des dysfonctionnements. L'ostéopathie est donc centrée sur les troubles fonctionnels, éventuellement psychosomatiques, ne relevant pas de la pathologie ou de la rééducation en kinésithérapie.</p>
</div>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "ostéopathie"), class:"find-job" %>
  <%= link_to "Retour", "thematique3", class:"return" %>
</div>
