<div class="title-rubrique">
  <%= link_to "/thematique3" do %>
  <%= image_tag "svg/just_arrow.svg" %>
  <% end %>

<h3>Shiatsu</h3>
</div>
<div class="container-job">
<div style="text-job">
  <p>Le Shiatsu est intimement lié au concept d’énergie vitale ou « qi », issu de la médecine traditionnelle chinoise. D’après les anciens Chinois, un déséquilibre de l’énergie vitale va provoquer un déséquilibre dans le corps ou dans l’esprit, ce qui va favoriser l’apparition de symptômes physiques ou psychiques.</p>
  <p>L’énergie vitale peut donc être en excès ou à défaut dans le corps, c’est ce que cette pratique va corriger.</p>
</div>
</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "shiatsu"), class:"find-job" %>
</div>
