<div class="title-rubrique">
  <%= link_to "/thematique2" do %>
  <%= image_tag "svg/just_arrow.svg" %>
  <% end %>

  <h3>Sonothérapie</h3>
</div>
<div class="container-job">
<p>La sonothérapie utilise le son et les vibrations pour apporter détente, relaxation et rééquilibrer le champ électromagnétique naturel émis par notre corps. Le corps absorbe les vibrations. Or, on sait que certaines vibrations ont des vertus thérapeutiques physiques, mais aussi psychiques.</p>
<p class="inner-link-sono">Pour ce faire, les sonothérapeutes utilisent plusieurs instruments qui émettent des sons et des vibrations plus ou moins puissantes. “J’utilise des bols tibétains, des bols de cristal, des diapasons, des carillons, un gong mais aussi ma voix. Lors d’une séance de sonothérapie, je répartis ces instruments autour de la personne ou les pose directement sur son corps”, explique
<strong><%= link_to "Jordane Saunal.", "/praticians/396" %></strong>
</p>

</div>
<div class= container-btn-job>
  <%= link_to "Trouver Thérapeutes", praticians_path(query: "sonothérapie"), class:"find-job" %>
</div>
