  <div class=container-cercles>
    <div class="cercle">
      <%= image_tag "svg/hand_homepage.svg" %>
    </div>
  </div>
  <h2>Thématiques Corporelle</h2>
  <div class="container">
  <%= link_to "" %>
  <div class="practices">
    Ostéopathie
  </div>
  <%= link_to "" %>
  <div class="practices">
    Chiropraxie
  </div>
  <%= link_to "" %>
  <div class="practices">
    Etio Médecine
  </div>
  <div class="practices">
    Shiatsu
  </div>
  <div class="practices">
    Massage Thaïlandais
  </div>
