  <div class=container-cercles>
    <div class="cercle">
      <%= image_tag "svg/sound_homepage.svg" %>
    </div>
  </div>
  <h2>Thématiques Auditive</h2>
  <div class="container">
  <%= link_to "" %>
  <div class="practices">
    Hypnose
  </div>
  <%= link_to "" %>
  <div class="practices">
    Sonothérapie
  </div>
