  <div class=container-cercles>
    <div class="cercle">
      <%= image_tag "svg/eye_homepage.svg" %>
    </div>
  </div>

<h2>Thématiques Visuelle</h2>
<div class="container">
  <%= link_to "/hypnose" do %>
    <div class="practices">
      Hypnose
    </div>
  <% end %>

  <%= link_to "" do %>
    <div class="practices">
      Art Thérapie
    </div>
  <% end %>

