  <div class=container-cercles>
    <div class="cercle">
      <%= image_tag "svg/hand_homepage.svg" %>
    </div>
  </div>
  <h2>Thématiques Corporelle</h2>
  <div class="container">
  <%= link_to "/osteopathie" do %>
  <div class="practices">
    Ostéopathie
  </div>
  <% end %>
  <%= link_to "/naturopathie" do %>
  <div class="practices">
    Naturopathie
  </div>
  <% end %>
  <%= link_to "" do %>
  <div class="practices">
    Etio Médecine
  </div>
  <% end %>
  <div class="practices">
    Shiatsu
  </div>
  <div class="practices">
    Massage Thaïlandais
  </div>
