  <div class=container-cercles>
    <div class="cercle">
      <%= image_tag "svg/sound_homepage.svg" %>
    </div>
  </div>
  <h2>Thématiques Auditive</h2>
  <div class="container">
    <%= link_to "/sonotherapie" do %>
  <div class="practices">
    Sonothérapie
  </div>
  <% end %>
  <%= link_to "/emdr" do %>
  <div class="practices">
    Emdr
  </div>
  <% end %>
