
.card {
  background: $color-two;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 15px;
  margin: 20px 20px 20px 20px;
  height: 150px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: row;

  .avatar-index {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:flex;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: $color-logo;
    text-decoration: none;
  }

  .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 15px;
  }

  h4{
    font-family: $title-card;
    width: 180px;
  }

  h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    width: 150px;
    font-family: $title-job;
    padding-bottom: 10px;
  }

  .container-position{
    display: flex;
    color: $color-text;
  }

  p{
    color: $color-text;
  }

  h6{
    color: $color-text;
    font-family: $font-text;
    font-size: 10px;
  }

  .container-heart{
    display: flex;
    align-items: center;
    color: $color-logo;
    font-size: 25px;
  }

}
