@import url(https://fonts.googleapis.com/css?family=Varela+Round);


// *, *:before, *:after {
//   box-sizing: border-box;
// }

body {
  background: $color-two;
  font-family: "Varela Round", sans-serif;
}

a {
  color: $color-three;
  text-decoration: none;
  width: 150px;
}
p {
text-decoration: none;
color: white;
font-size: 10px;
}


.card {
  background: $color-two;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 15px;
  margin: 50px 20px 20px 20px;
  height: 150px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: row;

  .avatar-index {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:flex;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: $color-three;
    text-decoration: none;
    width: 150px;
  }

  h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    width: 150px;
    font-family: $title-job;
    padding-bottom: 0;
  }

  .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 15px;
  }

  h4{
    font-family: $title-card;
    width: 180px;
  }
  .container-position{
  display: flex;
  color: $color-position;
  }
  p{
    color: $color-position;
  }
  h6{
    color: $color-position;
    font-family: $font-position;
    font-size: 10px;
  }

}
  // .title {
  //   font-size: 25px;
  // }
  // .icon {
  //   width:100px;
  //   margin: 50px 0;
  //   svg {
  //     width: 100px;
  //     height: 100px;
  //     path {
  //       fill: $color-four;
  //     }
  //   }
  // }
  // .features {

  //     width:200px;
  //     padding: 0;
  //     margin: 20px 0 50px 0;
  //     list-style-type: none;
  //     li {
  //       margin: 10px 0;
  //       font-size: 14px;
  //       span {
  //         border-bottom: 2px dotted $color-four;
  //       }

  //   }
  // }
  // .btn {
  //   display: block;
  //   background: $color-four;
  //   color: white;
  //   padding: 15px 20px;
  //   margin: 20px 0;
  //   border-radius: 5px;
  //   box-shadow: rgba(0,0,0,0.9);
  //   transition: all 200ms ease-in-out;
  //   text-decoration: none;
  //   &:hover {
  //     background: $color-three;
  //   }
  // }
