
.card {
  background: $color-two;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 15px;
  margin: 20px 20px 20px 20px;
  height: 150px;
  // width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: row;

  .avatar-index {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display:flex;
    margin-top: 10px;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: $color-logo;
    text-decoration: none;
  }

  .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin-left: 15px;
  }

  h4{
    font-family: $title-card;
    width: 160px;
    font-size: 16px;
    margin-bottom: 3px;
  }

  h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: $title-job;
    padding-bottom: 10px;
    margin-left: 3px;
  }

  .container-position{
    display: flex;
    color: $color-text;
  }

  p{
    color: $color-text;
  }

  h6{
    color: $color-text;
    font-family: $font-text;
    font-size: 12px;
    margin-left: 10px;
  }

  p{
    font-family: $title-card;
    font-size: 14px;
    margin-bottom: 0px;
    display: flex;
    justify-content: right;
  }

  .heart{
  background:$color-two;
  border: none;
  }

}
