.navbar-lewagon {
  justify-content: space-between;
  background: $color-one;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.log-out {
  color: $color-job;
  text-decoration: none;
}

.navbar-brand1 {
  width: 100px;
}

.color-navbar {
  color: $color-logo;
}
